services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
  frontend:
    build:
      context: ./frontend
      
      dockerfile: Dockerfile
    ports:
      - "5173:3000"
    command: pnpm run start
    volumes:
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
